[package]
name = "lvm-snap-rsync"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
toml = "0.5"
anyhow = "1.0"
clap = { version = "4.0", features = ["derive"] }

